<div class="container">
  <h1 class="text-center">My Super App ⚡️</h1>

  <form class="form-signin" ng-submit="login()">
    <h3 class="form-signin-heading">Please Log in</h3>
    <div>
      <label for="inputUsername" >Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="UserName..." required autofocus ng-model="user.username">
    </div>
    <div>
      <label for="inputPassword" >Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password..." required ng-model="user.password">
    </div>
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <p class="text-right">Or <strong><a href="#/register">Sign up</a></strong> if still don't have an user</p>
  </form>

</div>

