<style>
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

@media (max-width: 480px) {
    .foot_style {
        margin-top: 10px;
        float: left;
    }
}
</style>


<header>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Awesome Project 😎</a>
        </div>

        <div class="navbar-collapse uib-collapse in" uib-collapse="isCollapsed" aria-expanded="true">
          <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a>
            </li> -->
            <li><a href="#">Link</a></li>
           <!--  <li class="dropdown" uib-dropdown>
              <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a>
                </li>
              </ul>
            </li> -->
          </ul>
          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" uib-dropdown>
              <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false"> {{ $parent.loggedUser.username }} <span class="caret"></span></a>

              <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
              <b class="caret"></b></a> -->

              <ul class="dropdown-menu">
                <li>
                  <!-- navbar-content -->
                  <div class="navbar-content">
                    <div class="row">
                      <div class="col-md-5">
                        <img gravatar-src="$parent.loggedUser.email" gravatar-size="120">
                        <!-- <img src="http://placehold.it/120x120" alt="Alternate Text" class="img-responsive" /> -->
                        <!-- <p class="small" style="text-align: left;"><a href="#">Change Photo</a></p> -->
                      </div>
                      <div class="col-md-7">
                        <span>Bhaumik Patel</span>
                        <p class="text-muted small">{{ $parent.loggedUser.email }}</p>
                        <div class="divider"></div>
                        <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                      </div>
                    </div>
                  </div>

                  <div class="navbar-footer">
                    <div class="navbar-footer-content">
                      <div class="row">
                        <div class="col-md-6">
                          <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                        </div>
                        <div class="col-md-6 foot_style">
                          <button ng-click="logout()" class="btn btn-default btn-sm pull-right"><strong>Sign Out</strong></button>
                          <!-- <a href="#" ng-click="logout()" >Sign Out</a> -->
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
              </ul>
            </li>
          </ul> <!-- @end navbar-nav navbar-right -->

        </div>
      </div>
    </nav>
  </div>
<!--
  <div class="container">

    <div class="navbar">

        <p class="navbar-brand"><a href="#">My Awesome Project</a> 😎</p>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Logged as {{ $parent.loggedUser.username }}</a>
          </li>
          <li>
            <button ng-click="logout()"><strong>Logout</strong></button>
          </li>
        </ul>

    </div>

  </div> -->
</header>


<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Navbar example</h1>

    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->


<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-wrapper">
                <div class="container">
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                        class="icon-bar"></span><span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Project name</a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Home</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
                                        <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/120x120"
                                                                alt="Alternate Text" class="img-responsive" />
                                                            <p class="small" style="text-align: left;">
                                                                <a href="#">Change Photo</a></p>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span>Bhaumik Patel</span>
                                                            <p class="text-muted small">
                                                                mail@gmail.com</p>
                                                            <div class="divider">
                                                            </div>
                                                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="navbar-footer">
                                                    <div class="navbar-footer-content">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                                                            </div>
                                                            <div class="col-md-6 foot_style">
                                                                <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->